table {
  width: 100%;
}


.itemm {
  padding: 10px;
  border-bottom: 1px solid #c3c5c3;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.tt2 {
  display: none;
}

@media only screen and (max-width: 600px) {
  .ttb {
    display: none;
  }
}
