<mat-sidenav-container> 
    <!--medo do modo responsivo -->
    <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
        <button mat-icon-button color="warn" class="close" (click)="sidenav.close()">
           <mat-icon color="warn">close</mat-icon>
        </button>
        <div class="divider"></div> 

        <div class="divider"></div>
        
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
        <!--define a barra de ferramenta inicial-->
        <header [ngClass]="'toolbar-1'" [class.has-bg-image]="settings.headerBgImage" [class.has-bg-video]="settings.headerBgVideo" [class.main-toolbar-fixed]="settings.mainToolbarFixed">
            <app-toolbar1 (onMenuIconClick)="sidenav.toggle()"></app-toolbar1>
        </header>
          
        <!--renderiza o que foi selecionado no modulo de roteamento-->
        <main [class.content-offset-to-top]="settings.contentOffsetToTop">
            <router-outlet></router-outlet>              
        </main>


        <!--renderiza o rodape da página-->
        <app-footer></app-footer>
       
        <!--engrenagem animada que abre o menu de configurações de estilos da página
        <div fxLayout="row" fxLayoutAlign="center center" class="options-icon" (click)="options.toggle()">
            <mat-icon>settings</mat-icon>
        </div>-->
        
        <!--icone mostrado quando fazemos um scroll down, serve para levar ao início da pagina -->
        <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top" (click)="scrollToTop()">
            <mat-icon>arrow_upward</mat-icon>
        </div>

    </mat-sidenav-content>

    <!--Menu aberto pela engrenagem que permite configurar o visual do site caso queiram implantar 
    
    <mat-sidenav #options position="end" class="options" autoFocus="false">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="op-header mat-elevation-z1">
            <h2>Configurações</h2>
            <button mat-icon-button (click)="options.toggle()" color="accent">
                <mat-icon>close</mat-icon>
            </button>
        </div> 

        <div perfectScrollbar>
            <div fxLayout="column" class="control">
                <h4>Layout</h4>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Fixa a Barra de Ferramentas</span>
                    <mat-slide-toggle [checked]="settings.stickyMenuToolbar" (change)="settings.stickyMenuToolbar = !settings.stickyMenuToolbar" labelPosition="before"></mat-slide-toggle>
                </div>                 
            </div>

            <div fxLayout="column" class="control">
                <h4>Selecione a cor tema do site </h4> 
                <div fxLayout="row" fxLayoutAlign="space-between center"> 
                    <div class="skin-primary blue" (click)="changeTheme('blue')"></div>  
                    <div class="skin-primary green" (click)="changeTheme('green')"></div> 
                    <div class="skin-primary red" (click)="changeTheme('red')"></div> 
                    <div class="skin-primary pink" (click)="changeTheme('pink')"></div> 
                    <div class="skin-primary purple" (click)="changeTheme('purple')"></div>
                    <div class="skin-primary grey" (click)="changeTheme('grey')"></div>
                    <div class="skin-primary orange-dark" (click)="changeTheme('orange-dark')"><div class="skin-secondary"></div></div>
                </div>
            </div>


        </div>
    </mat-sidenav>-->
    
</mat-sidenav-container> 