.a {
  background-color: rgb(255, 255, 255);
}

.b {
  background-color  : rgb(255, 255, 255);
  -webkit-box-shadow: 0px 4px 4px rgb(50 50 50 / 28%);
}

.ac {
  background: white;
}

.f1 {
  text-align   : center;
  font-size    : 20px;
  margin-bottom: 27px;
  color        : #585858;
}


.adass {
  padding-bottom: 20px;
  display       : flex;
  gap           : 6px;
}

.form01 {
  margin: 5px;
}

.ccc3 {
  text-align              : center;
  display                 : flex;
  /* grid-template-columns: 0fr 0fr 0fr; */
  align-items             : center;
  align-content           : center;
  place-content           : center;
}

.personbt {
  margin-top: -22px;
  height    : 49px;
}

.c1l {
  background-color: black;
}

.foo {
  height          : 40px;
  background-color: #f0e5e5;
}

@media only screen and (max-width: 600px) {
  .ccc3 {
    text-align           : center;
    display              : grid;
    align-items          : center;
    align-content        : center;
    place-content        : center;
    grid-template-columns: 1fr;
    padding              : 14px;
    grid-template-rows   : 70px;
  }

  .form01 {
    margin: 5px;
    width : 100%;
  }
}
