<div class="a">
  <div class="b">

    <div class="ai">
      <mat-form-field class="i">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" value="email@teste.com">
      </mat-form-field>

      <mat-form-field class="i">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Email" type="password" value="123">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" class="bt0" (click)="onClickEnter()">Entrar</button>
      </div>
    <button mat-stroked-button color="warn" class="bt1">Esqueceu sua senha?</button>
    <button mat-stroked-button color="primary" class="bt2">Ainda não tem uma conta?</button>

    </div>




  </div>
</div>
