<mat-card class="layout-card layout-card-with-actions">
  <mat-card-header fxLayoutAlign="space-between">
    <div mat-card-avatar class="avatar">
      <mat-icon>search</mat-icon>
    </div>
    <div fxFlex="grow">
      <mat-card-title>Procurar imovéis</mat-card-title>
      <mat-card-subtitle>Procure imovéis pelo título ou descrição</mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form *ngIf="!processing" [formGroup]="form" (ngSubmit)="submitForm()" class="form">
      <mat-card-content>

        <mat-form-field class="full-width">
          <input
            matInput
            formControlName="search"
            placeholder="Procurar">
          <mat-error *ngIf="form.controls['search'].hasError('required')">
            Esse campo é <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <button [disabled]="form.invalid" mat-stroked-button class="btn-block">Procurar</button>
    </form>

    <div *ngIf="!processing" class="content">

      <div *ngIf="filteredProperties?.length > 0" class="properties">

      <app-property-card
       *ngFor="let item of filteredProperties"
        [property]="item"></app-property-card>
      </div>

      <div *ngIf="filteredProperties?.length === 0" class="no-properties">
        Nenhum imóvel encontrado
      </div>

    </div>

    <div *ngIf="processing" class="process">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-card-content>
</mat-card>
