.c {
  display              : grid;
  height               : 100vh;
  background-color     : #673AB7;
  grid-template-columns: 2.5fr 2fr;
  padding-bottom       : 20px;
}

.c1 {
  display              : grid;
  grid-template-columns: 1fr;
  align-items          : center;
}

.c2 {}

.ff0 {
  margin       : auto;
  margin-top   : 100px;
  width        : 80%;
  color        : white;
  text-align   : right;
  font-size    : 3rem;
  line-height  : 1.17;
  margin-bottom: 64px;
  border-right : 1px solid #ffd740;
  margin-right : 42px;
  padding-right: 30px;
}

.ff1 {
  margin    : auto;
  margin-top: 30px;
  width     : 80%;
  font-size : 20px;
  color     : white;
  float     : right;
}

.form {
  margin-top        : 80px;
  background-color  : white;
  width             : 400px;
  border-radius     : 10px;
  margin-bottom     : 50px;
  -webkit-box-shadow: 0px 4px 4px rgb(50 50 50 / 28%);
}

.aforms {
  padding: 20px;
}

.form01 {
  width: 100%;
}

.form01-50 {
  width: 50%;
}

.a1 {
  color: blue;
}

.box6 {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  gap                  : 15px;
}


@media only screen and (max-width: 600px) {

  .c {
    height               : 100vh;
    grid-template-columns: 1fr;
  }

  .box6 {
    display              : grid;
    grid-template-columns: 1fr;
  }

  .form01-50 {
    width: 100%;
  }

  .form {
    margin-top: 80px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 0px 0px rgb(50 50 50 / 28%);
}
}
